@import models.employees.Employee
@import models.employees.User
@import models.entities.Project;
@import models.entities.Address;
@import models.entities.Department;

@(employeeForm: Form[models.employees.Employee], user: models.employees.User)
@import helper._


@main("Add Employee", user){
    <p class#"lead">Add a new Employee</p>

    @form(action=routes.HomeController.addEmployeeSubmit(),
        'class -> "form-horizontal",
        'role -> "form",
        'enctype -> "multipart/form-data") {


        @CSRF.formField

        @inputText(employeeForm("id"), '_label -> "id", 'class -> "form-control")
        @select(

            employeeForm("Department.id"),options(Department.options),'_label ->"Department",'_default -> "--Choose department please--",
            '_showConstraints -> false, 'class-> "form-control"

        )
        @select(

            employeeForm("Address.id"),options(Address.options),'_label ->"Address",'_default -> "--Choose Address please--",
            '_showConstraints -> false, 'class-> "form-control"

        )
        @inputText(employeeForm("name"), '_label -> "name", 'class -> "form-control")


        @for((value, name) <- Project.options) {
            <input type="checkbox" name="projSelect[]" value="@value"

            />@name<br>
        }


        @inputText(employeeForm("id"), '_label -> "", 'hidden -> "hidden")

        @inputText(employeeForm("password"), '_label -> "Password", 'class -> "form-control")
        @inputText(employeeForm("role").copy(value=Some("employee")), '_label -> "",'hidden -> "hidden")






        <label>Image Upload</label>
        <input class="btn-sm btn-default" type="file" name="upload">
        <br><br>
        <div class="actions">
            <input type="submit" value="Add/Update Employee" class="btn btn-primary">
            <a href="@routes.HomeController.index(0)">
                <button type="button" class="btn btn-warning">Cancel</button>
            </a>
        </div>
    }}