@(projectForm: Form[models.entities.Project], user: models.employees.User)
@import helper._

@main("Add Project", user) {
<div class="col-sm-3">
    <p class="lead">Add a new project</p>
    @form(action=routes.HomeController.addProjectSubmit(), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
    @CSRF.formField

    @inputText(projectForm("Pname"), '_label -> "Name", 'class -> "form-control")

    <div class="actions">
        <input type="submit" value="Add Project" class="btn btn-primary">
        <a href="@routes.HomeController.index(0)">
            <button type="button" class="btn btn-warning">Cancel</button>
        </a>
    </div>
</div>
}
}