@(projects: List[models.entities.Project], employee: models.employees.Employee, user: models.employees.User)

@main("Employee Projects", user) {
    <p class="lead">Projects for @employee.getName</p>

    <div class="col-sm-3">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>

                </tr>
            </thead>

            <tbody>
            @for(p <- projects) {
                <tr>
                    <td>@p.getId</td>
                    <td>@p.getPname</td>

                </tr>
            }



            </tbody>
        </table>
    </div>
}