@(id: Long, projectForm: Form[models.entities.Project], user: models.employees.User)
@import helper._

@main("Update Project", user) {
    <div class="col-sm-3">
        <p class="lead">Update project</p>
        @form(action=routes.HomeController.updateProjectSubmit(id), 'class -> "form-horizontal", 'role -> "form", 'enctype -> "multipart/form-data") {
            @CSRF.formField

            @inputText(projectForm("Pname"), '_label -> "Name", 'class -> "form-control")

            <div class="actions">
                <input type="submit" value="Update Project" class="btn btn-primary">
                <a href="@routes.HomeController.projects()">
                    <button type="button" class="btn btn-warning">Cancel</button>
                </a>
            </div>
        </div>
}
}